<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" href="/css/style.css"> <!--DO NOT CHANGE: run the springboot aplication to see css-->
</head>
<body>

    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes the Account Registration details -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="account-creation">
            <h1>Customer Information</h1>
            <form id="customerForm" action="/customer/update-information" method="post" onsubmit="updateCustomerInformation(event)">
                <div>
                    <label for="firstName">First name:</label><br>
                    <input type="text" id="firstName" name="firstName" required><br>
                </div>
                <div>
                    <label for="lastName">Last name:</label><br>
                    <input type="text" id="lastName" name="lastName" required><br>
                </div>
                    <div>
                    <label for="phonenum">Phone Number:</label>
                    <input type="tel" id="phonenum" name="phonenum" placeholder="1-123-456-7891" 
                    pattern="[1]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
                </div>
                <div>
                <button type="submit" button id="completeregistration" class="profile">Register</button>
            </form>

    <script>
    function updateCustomerInformation(event) {
        event.preventDefault();
//         const form = document.getElementById('registerForm');
//         const formData = new FormData(form);
		const firstName = document.getElementById('firstName').value;
		const lastName = document.getElementById('lastName').value;
		const phoneNumber = document.getElementById('phonenum').value;
		
		sendData(firstName, lastName, phoneNumber);
    }
    
    async function sendData(firstName, lastName, phoneNumber){
    	console.log(firstName, lastName, phoneNumber);
    	const username = localStorage.getItem('user');
        try {
            const response = await fetch(`http://localhost:8080/customer/update-information/${username}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({firstName, lastName, phoneNumber}),
            });
			
            if (response.ok) {
                console.log('Information update successful');
                window.location.href = 'http://localhost:8080/customer/profile';
            } else {
                console.error('Information update failed');
                
            }
        } catch (error) {
            console.error('Error:', error);
        }
    
    }

    async function getInformation(username){
            const response = await fetch('http://localhost:8080/customer/'+JSON.parse(localStorage.getItem('user'))+'/information', {
                method: 'GET',
                headers: {
                        Authorization: "Bearer " +  JSON.parse(localStorage.getItem("jwt"))
                    }
            })
            const responseData = await response.json();
            console.log(responseData);
            // if user has already set their information, display those values
            if (responseData.firstName != null) {
                console.log('exists');
                document.getElementById('firstName').value = responseData.firstName;
                document.getElementById('lastName').value = responseData.lastName;
                document.getElementById('phonenum').value = responseData.phoneNumber;
            }
        }
        
        const username = localStorage.getItem('user');
        getInformation(username);
    </script>
</body>
</html>