<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="myprofile" button class = "user-profile">My Profile</button>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes both the welcome message and the Create Account button -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="welcome-container">
            <h1 id="customerName">Customer's Profile</h1>
            <p><a href="/customer/information"><u>Edit Account Details</u></a></p>
            <h2>Upcoming Reservations:</h2>
            <!--Pull data from DB-->
            <h3>Modify</h3> <!--Need to hyperlink which html page this is going to-->
            <h3>Cancel Reservation</h3><!--Need to hyperlink which html page this is going to-->
            <h2>Past Reservations:</h2>
            <!--Pull data from DB-->
            <h3>Review</h3> <!--Need to hyperlink to the review html page-->
        </div>
    </div>
    <script>
        fetch('http://localhost:8080/customer/'+JSON.parse(localStorage.getItem('user'))+'/information')
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log(data);
                document.getElementById('customerName').textContent = data.firstName+'\'s Customer Profile';
            })
            .catch(error => console.log(error));
//  logout() {
//  localStorage.removeItem('user');
//  localStorage.removeItem('token');
//  window.location.href = 'http://localhost:8080/';
//}
    </script>
    <script src="../static/js/script.js"></script>
</body>
</html>