<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <link rel="stylesheet" href="/css/style.css"> <!--DO NOT CHANGE: run the springboot aplication to see css-->
</head>
<body>

    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes the Account Registration details -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="account-creation">
            <h1>Customer Information</h1>
            <form id="registerForm" action="/register" method="post" onsubmit="registerUser(event)">
                <div>
                    <label for="firstname">First name:</label><br>
                    <input type="text" id="firstname" name="firstname"><br>
                </div>
                <div>
                    <label for="lastname">Last name:</label><br>
                    <input type="text" id="lastname" name="lastname"><br>
                </div>
                    <div>
                    <label for="phonenum">Phone Number:</label>
                    <input type="tel" id="phonenum" name="phonenum" placeholder="1-123-456-7891" 
                    pattern="[1]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
                </div>
                <div>
                <button type="submit" button id="completeregistration" class="profile">Register</button>
            </form>

    <script>
    function registerUser(event) {
        event.preventDefault();
//         const form = document.getElementById('registerForm');
//         const formData = new FormData(form);
		const firstName = document.getElementById('firstname').value;
		const lastName = document.getElementById('lastname').value;
		const phoneNumber = document.getElementById('phonenum').value;
		
		sendData(firstName, lastName, phoneNumber);
    }
    
    async function sendData(firstName, lastName, phoneNumber){
    	console.log(firstName, lastName, phoneNumber);
    	const username = localStorage.getItem('user');
        try {
            const response = await fetch(`http://localhost:8080/customer/registration/${username}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({firstName, lastName, phoneNumber}),
            });
			
            if (response.ok) {
                console.log('Registration successful');
                window.location.href = 'http://localhost:8080/login';
            } else {
                console.error('Registration failed');
                
            }
        } catch (error) {
            console.error('Error:', error);
        }
    
    }
    </script>
</body>
</html>