<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

	<head>
		<title>Maitre-D Homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/style.css"> <!--DO NOT CHANGE: run the springboot aplication to see css-->
	</head>

	<body>
		<div class="header">
			<span id="brand" class="brand">Maître d'</span>
			<button id="searchForRestaurants" button class="search-for-restaurants">Search For Restaurants</button>
			<button id ="signInSignOut" button class="sign-in">Sign In</button>
		</div>
		<div id="page-wrapper">
			<!-- This container includes both the welcome message and the Create Account button -->
			<div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
				<img src="./imgs/home_picture.jpg" alt="Image of Restaurant. 
			dish on white ceramic plate [Photograph], by Jay Wennington, 2014
			(https://unsplash.com/photos/dish-on-white-ceramic-plate-N_Y88TWmGwA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash)"
			style="width:800px; height:500px" class="center">
				<div class="welcome-container">
					<h1>Welcome to Maître d'!</h1>
					<p>Create an account below or sign in with an existing account to get started.</p>
					<button id="createAccount" class="create-account">Create Account</button>
				</div>
			</div>

			<!--Website Footer-->
			<div id="footer-wrapper">
				<footer id="footer" class="centered-container">
					Maître d' Application created by Team 3 2024
				</footer>
			</div>

		<!-- Scripts -->
		<script src="/js/script.js"></script>
	</body>
</html>
