<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<title>Maitre-D Homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
		<link rel="stylesheet" href="/css/homepage-style.css"> <!-- Only on the homepage -->
	</head>
	<body>
		<div class="header">
			<span id="brand" class="brand">Maître d'</span>
			<button id="searchForRestaurants" button class="search-for-restaurants">Search For Restaurants</button>
			<button id ="signInSignOut" button class="sign-in">Sign In</button>
		</div>
		<div id="page-wrapper">
			<!-- this container includes both the welcome message and the Create Account button -->
			<div class="centered-container">
				<div class="welcome-container">
					<h1>Welcome to Maître d'</h1>
					<p>Create an account or sign to get started.</p>
					<button id="createAccount" class="create-account">Create Account</button>
				</div>
			</div>
		</div>
			<!--website Footer-->
			<div id="footer-wrapper">
				<div class="footer-container">
					Maître d' Application created by Team 3 - Spring 2024
				</div>
			</div>
		<!-- Scripts -->
		<script src="/js/script.js"></script>
	</body>
</html>
