<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="header">
        <span id="brand" class="brand">Maître d'</span>
        <button id ="signInSignOut" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes the Account Registration details -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="account-creation">
            <h1>Account Creation</h1>
            <form id="registerForm" method="post" onsubmit="registerUser(event)">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                  <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" onkeyup="checkPasswordStrength();" required 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br>
                    <div id="passwordStrength">Password Strength: <span id="strengthValue">None</span></div>
                    <div id="passwordGuidelines">
                        <p>Your password should be at least 8 characters long and include a mix of upper and lower case letters, numbers, and special characters like !@#$%^&*.</p>
                    </div>
                    <br>
 <!--                 <label for="confirmpassword">Confirm Password:</label><br>
                    <input type="password" id="confirmpassword" name="confirmpassword" required><br><br> -->  
                </div>
                <div>
                    <label for="type">Type:</label>
                    <select id="accountType" name="accountType" required>
                        <option value="Customer">Customer</option>
                        <option value="Restaurant">Restaurant</option>
                    </select>
                </div>
                <button type="submit" class="submit">Register</button>
            </form>

    <script>

        async function registerUser(event) {
            event.preventDefault();
            const form = document.getElementById('registerForm');
            const formData = new FormData(form);

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    console.log('Registration successful');
                    window.location.href = 'http://localhost:8080/login';
                } else {
                    console.error('Registration failed');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
