<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <link rel="stylesheet" href="/css/style.css"> <!--DO NOT CHANGE: run the springboot aplication to see css-->
</head>
<body>

    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes the Account Registration details -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="account-creation">
            <h1>Restaurant Information</h1>
            <form id="registerForm" action="/register" method="post" onsubmit="registerUser(event)">
                <div>
                    <label for="restaurantname">Restaurant Name:</label><br>
                    <input type="text" id="restaurantname" name="restaurantname"><br>
                </div>
                <div>
                    <label for="cuisine">Cuisine:</label><br>
                    <input type="text" id="cuisine" name="cuisine"><br>
                </div>
                <div>
                    <label for="openhours">Opening Hours:</label>
                    <input type="time" id="openhours" name="openhours"><br>
                </div>
                <div>
                    <label for="closehours">Closing Hours:</label>
                    <input type="time" id="closinghours" name="closinghours"><br>
                </div>
                <div>
                    <label for="phonenum">Phone Number:</label>
                    <input type="tel" id="phonenum" name="phonenum" placeholder="1-123-456-7891" 
                    pattern="[1]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="address" id="address" name="address"><br>
                </div>
                <button type="submit" button id="completeregistration" class="profile">Register</button>
            </form>

    <script>
        async function registerUser(event) {
            event.preventDefault();
            const form = document.getElementById('registerForm');
            const formData = new FormData(form);

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    console.log('Registration successful');
                    window.location.href = 'http://localhost:8080/login';
                } else {
                    console.error('Registration failed');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
</body>
</html>