<!-- register.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <link rel="stylesheet" href="/css/style.css"> <!--DO NOT CHANGE: run the springboot aplication to see css-->
    <style>
        .form-section {
            margin-bottom: 5px; /* Reduced margin */
        }
        .form-section input,
        .form-section label {
            margin-bottom: 0; /* Remove margin below inputs and labels */
            padding: 5px; /* Reduced padding */
        }
        .address, .phone-number, .hours {
            font-size: 14px; /* Smaller font size */
            color: #666; /* Optional: change the color if needed */
        }
    </style>
</head>
<body>

    <div class="header">
        <span id="brand" class="brand">Maître d'</span>
        <button id ="myProfile" button class = "user-profile">My Profile</button>
        <button id ="signInSignOut" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes the Account Registration details -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="account-creation">
            <h1>Restaurant Information</h1>
            <form id="restaurantForm" action="/restaurant/update-information" method="post" onsubmit="updateRestaurantInformation(event)">
                <div>
                    <label for="restaurantname">Restaurant Name:</label><br>
                    <input type="text" id="restaurantname" name="restaurantname" required><br>
                </div>
                <div>
                    <label for="cuisine">Cuisine:</label><br>
                    <input type="text" id="cuisine" name="cuisine" required><br>
                </div>
                <div>
                    <label for="openhours">Opening Hours:</label>
                    <input type="time" id="openhours" name="openhours" required><br>
                </div>
                <div>
                    <label for="closehours">Closing Hours:</label>
                    <input type="time" id="closinghours" name="closinghours" required><br>
                </div>
                <div>
                    <label for="phonenum">Phone Number:</label>
                    <input type="tel" id="phonenum" name="phonenum" placeholder="1-123-456-7891" 
                    pattern="[1]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="address" id="address" name="address" required><br>
                </div>
                <button type="submit" button id="completeregistration" class="profile">Continue</button>
            </form>

    <script src="/js/script.js"></script>
    <script>
        function updateRestaurantInformation(event) {
            event.preventDefault();
//             const form = document.getElementById('registerForm');
//             const formData = new FormData(form);
			const restaurantName = document.getElementById('restaurantname').value;
			const address = document.getElementById('address').value;
			const phoneNumber = document.getElementById('phonenum').value;
			const cuisine = document.getElementById('cuisine').value;
			const openingTime = document.getElementById('openhours').value;
			const closingTime = document.getElementById('closinghours').value;
			
			sendData(restaurantName, address, phoneNumber, cuisine, openingTime, closingTime);
        }
        
        async function sendData(restaurantName, address, phoneNumber, cuisine, openingTime, closingTime){
        	console.log(restaurantName, address, phoneNumber, cuisine, openingTime, closingTime);
        	const username = localStorage.getItem('user');
            try {
                const response = await fetch(`http://localhost:8080/restaurant/update-information/${username}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({restaurantName, address, phoneNumber, cuisine, openingTime, closingTime}),
                });
				
                if (response.ok) {
                    console.log('Information update successful');
                    window.location.href = 'http://localhost:8080/restaurant/profile';
                } else {
                    console.error('Information update failed');
                    
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        const username = localStorage.getItem('user');
        getRestaurantInformation(username)
            .then(responseData => {
                console.log(responseData);
                // if user has already set their information, display those values
                if (responseData.restaurantName != null) {
                    document.getElementById('restaurantname').value = responseData.restaurantName;
                    document.getElementById('cuisine').value = responseData.cuisine;
                    document.getElementById('openhours').value = responseData.openingTime;
                    document.getElementById('closinghours').value = responseData.closingTime;
                    document.getElementById('phonenum').value = responseData.phoneNumber;
                    document.getElementById('address').value = responseData.address;
                }
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    </script>
</body>
</html>
