<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="myprofile" button class = "user-profile">My Profile</button>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes both the welcome message and the Create Account button -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="welcome-container">
            <!--Need to pull data from DB the name of the restaurant-->
            <h1>Restaurant's Profile</h1>
            <p><u>Edit Restaurant Profile</u></p><br> <!--Need to hyperlink with which html page this is going to-->
            <h2>Tables:</h2>
            <!--Pull data from DB-->
            <h3>Edit Available Tables</h3><br> <!--Need to hyperlink which html page this is going to-->
            <h2>Upcoming Reservations</h2>
            <!--Pull data from DB-->
            <h3>Contact Customer</h3>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>