<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <span id="brand" class="brand">Maître d'</span>
        <button id ="myProfile" button class = "user-profile">My Profile</button>
        <button id ="signInSignOut" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes both the welcome message and the Create Account button -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="welcome-container">
            <!--Need to pull data from DB the name of the restaurant-->
            <h1 id="restaurantName">Restaurant's Profile</h1>
            <p><a href="/restaurant/information"><u>Edit Account Details</u></a></p>
            <a class="nav-link active" th:href="@{/restaurant/upload-photos}">Upload Photos</a>
            <h2>Tables:</h2>
            <!--Pull data from DB-->
            <h3>Edit Available Tables</h3><br> <!--Need to hyperlink which html page this is going to-->
            <h2>Upcoming Reservations</h2>
            <!--Pull data from DB-->
            <h3>Contact Customer</h3>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script>
    async function loadPictures(username){
    	const response = await fetch(`http://localhost:8080/restaurant/${username}`, {
             method: 'GET',
            
         })
    	const responseData = await response.text();    	
		console.log(responseData);
    var image = new Image();
    	image.src = 'data:image/jpeg;base64,' + responseData;
    	document.body.appendChild(image);
    }
    
    const username = localStorage.getItem('user');
    getRestaurantInformation(username)
        .then(responseData => {
            console.log(responseData);
            document.getElementById('restaurantName').textContent = responseData.restaurantName+'\'s Restaurant Profile';
        })
        .catch(error => {
            console.error("Error fetching data:", error);
        });
    </script>
</body>
</html>