<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Food</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> <!-- for star ratings -->
</head>
<body>
    <div class="header">
        <span id="brand" class="brand">Maître d'</span>
        <div>
            <button id="myProfile" class="user-profile">My Profile</button>
            <button id="signInSignOut" class="sign-in">Sign Out</button>
        </div>
    </div>
    <div class="centered-container">
        <div class="welcome-container">
            <h2>Let's Find Some Food</h2>
            <div class="search-box">
                <label for="restaurant">Restaurant Search:</label>
                <input type="text" id="restaurant" name="restaurant">
                <label for="cuisine">Cuisine:</label>
                <select id="cuisine" name="cuisine">
                    <option value="">Select Cuisine</option>
                </select>
                <label for="price">Price:</label>
                <select id="price" name="price">
                    <option value="">Select Price</option>
                    <option value="$">$</option>
                    <option value="$$">$$</option>
                    <option value="$$$">$$$</option>
                    <option value="$$$$">$$$$</option>
                </select>
                <label for="rating">Rating:</label>
                <select id="rating" name="rating">
                    <option value="">Select Rating</option>
                    <option value="1">★☆☆☆☆ - 1 Star</option>
                    <option value="2">★★☆☆☆ - 2 Stars</option>
                    <option value="3">★★★☆☆ - 3 Stars</option>
                    <option value="4">★★★★☆ - 4 Stars</option>
                    <option value="5">★★★★★ - 5 Stars</option>
                </select>
            </div>
            <button id="searchButton" class="login">Search</button>
            <!-- Results will be displayed below -->
            <div id="searchResults" class="results-container"></div>
        </div>        
    </div>
     <script>
        // listener for restaurant name search field
        const inputField = document.getElementById("restaurant");
        inputField.addEventListener("input", function() {
            if (inputField.value == "") {
                displayRestaurants();
            } else {
                filterRestaurants(inputField.value);
            }
        });

        // method to display restaurants based on the name search field
        async function filterRestaurants(searchInput) {
                const response = await fetch('http://localhost:8080/restaurant/filter/'+searchInput, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    const resultsContainer = document.getElementById('searchResults');
                    resultsContainer.innerHTML = '';                    
                    const data = await response.json();
                    data.forEach(restaurant => {
                        displayRestaurant(restaurant, resultsContainer);
                    });
                } else {
                    throw new Error('Failed to get restaurants');
                }
        } 

        // displays all restaurants and sets cuisine selector
        // called on initial visit, and when the restaurant name input field is blank
        async function displayRestaurants() {
            const response = await fetch('http://localhost:8080/restaurant/get-all', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.ok) {
            	const resultsContainer = document.getElementById('searchResults');
                resultsContainer.innerHTML = '';
                let cuisineOptions = [];
                
                const data = await response.json();
                console.log(data)
                data.forEach(restaurant => {
                	displayRestaurant(restaurant, resultsContainer);
                });
            } else {
                throw new Error('Failed to get restaurants');
            }
        }

        // method for displaying an individual restaurant
        async function displayRestaurant(restaurant, resultsContainer) {
            const name = restaurant.restaurantName;
                var formattedName = name.replace(/(?<!\\)'/g, "\\'");
                
                const address = restaurant.address;
                const phoneNumber = restaurant.phoneNumber;
                const cuisine = restaurant.cuisine;
                const openingTime = restaurant.openingTime;
                const closingTime = restaurant.closingTime;
                
                const image = new Image();
                image.src = 'data:image/jpeg;base64,' + restaurant.photo;
                image.width = "200"
                image.height = "200"
                
                const listing = document.createElement('div');
                listing.className = 'listing';
                const token = localStorage.getItem("jwt");
                if (token != null) {
                    checkRoles(token)
                        .then(data => {
                            data.forEach(role => {
                                console.log("Role:", role);
                            });
                            if (data.includes("CUSTOMER")) {
                                listing.innerHTML = `
                                    <h1 id="restaurantName">${name}</h1> ${cuisine} | ${openingTime} | ${closingTime} | ${phoneNumber} | ${address}
                                    <div>
                                    <label for="reservation">Make a Reservation:</label>
                                    <input type="time" id="reservation" name="reservation" required>
                                    <label for="party">Party Size:</label>
                                    <input type="number" id="party" name="party" min="1" max="10" required>
                                    <button  id="reserve-button" class="reserve-buttons" onclick="makeReservation(document.getElementById('party').value, \
                                                                                                document.getElementById('reservation').value,'${formattedName}')">Reserve</button>
                                    </div>
                                    <button class="menu-button">Menu</button>
                                `;
                                resultsContainer.appendChild(image);
                                resultsContainer.appendChild(listing);
                            } else {
                                listing.innerHTML = `
                                    <h1 id="restaurantName">${name}</h1> ${cuisine} | ${openingTime} | ${closingTime} | ${phoneNumber} | ${address}
                                `;
                                resultsContainer.appendChild(image);
                                resultsContainer.appendChild(listing);
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                } else {
                    listing.innerHTML = `
                        <h1 id="restaurantName">${name}</h1> ${cuisine} | ${openingTime} | ${closingTime} | ${phoneNumber} | ${address}
                    `;
                    resultsContainer.appendChild(image);
                    resultsContainer.appendChild(listing);
                }
        }

        async function addCuisineOptions() {
            const response = await fetch('http://localhost:8080/restaurant/get-all', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.ok) {
            	const resultsContainer = document.getElementById('searchResults');
                resultsContainer.innerHTML = '';
                let cuisineOptions = [];
                
                const data = await response.json();
                console.log(data)
                data.forEach(restaurant => {
                    
                    // adds cuisine to search filters
                    //TODO: add handling for uppercase/lowercase/irregular strings
                    const cuisine = restaurant.cuisine;
                    if (!cuisineOptions.includes(cuisine)) {
                        document.getElementById("cuisine").insertAdjacentHTML("beforeend", `<option value="${cuisine}">${cuisine}</option>`);
                        cuisineOptions.push(cuisine);
                    }
                });
            } else {
                throw new Error('Failed to get restaurants');
            }
        }

        addCuisineOptions();
        displayRestaurants();
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
