<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Maître d'</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <span class="brand">Maître d'</span>
        <button id ="signIn" button class="sign-in">Sign In</button>
    </div>
    <!-- This container includes both the welcome message and the Create Account button -->
    <div class="centered-container"> <!-- Additional wrapper for better clarity on styling -->
        <div class="welcome-container">
            <h1>Welcome to Maître d'!</h1>
            <p>Create an account below or sign in with an existing account to get started.</p>
            <button id="createAccount" class="create-account">Create Account</button>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
